<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Travelkaefer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="main.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <h1>Hello World</h1>
    <p>I'm hosted with Gitgub Pages</p>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li>
                <a href="mailto:daniel.schwensen@gmail.com">email</a>
            </li>
            <li>
                <a href="https://github.com/travelkaefer">github.com/travelkaefer</a>
            </li>
        </ul>
    </footer>
</body>

</html>
